@using Microsoft.AspNet.Identity
@model owin_1.Models.BlogModel

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div id="postlist">
                <div class="panel">
                    <div class="panel-heading" style="height:45px; padding-top:0px">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h4 class="pull-left"><b style="color:#404040">@Html.DisplayFor(modelItem => Model.UserId)</b></h4>
                                </div>
                                <div class="col-sm-3">
                                    @if (Request.IsAuthenticated)
                                    {
                                        if (Model.UserId == User.Identity.GetUserName())
                                        {
                                            <button type="button" class="btn-link pull-right" style="color:black; padding-top:5px; padding-right:5px">
                                                <span style="font-size:1.5em" class="glyphicon glyphicon-trash"></span>
                                            </button>
                                            <button type="button" class="btn-link pull-right" style="color:black; padding-top:5px; padding-right:10px">
                                                <span style="font-size:1.5em" class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" style="min-height: 75px">
                        <div class="text-center">
                            <h4>@Html.DisplayFor(modelItem => Model.Content)</h4>
                        </div>
                    </div>

                    <div class="panel-footer" style="min-height: 45px">
                        <span class="label label-default pull-left">@Html.DisplayFor(modelItem => Model.Tag)</span>
                        <span class="pull-right">
                            <em>@Html.DisplayFor(modelItem => Model.TimeStamp)</em>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
